# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/
